<div class="blog-card">
    <div class="blog_card_image" style="background-image: url({{imag}});"></div>
    <h2 class="blog_card_title">{{title}}</h2>
    <p class="blog_card_text">{{text}}</p>
    <a href="{{href}}" class="blog_card_button">{{button}}</a>
</div>